#Global gitignore

#DS_Store
.DS_Store

# vim history thing?
.netrwhist

#Vim temp files
*~
#All variants of swp files
.*.sw*

/vim/bundle
/vim/swap

# Dont' need these in repo
oh-my-zsh
snapshot
vim/bundle
